# PORT = 5000
# username and pasword already url
# MONGODB_URL=mongodb+srv://geetanjalichouhan82_db_user:oFU2h6xjeIfbiQSo@cluster0.x6kjvqt.mongodb.net/



# MONGODB_URL= mongodb+srv://geetanjalichouhan82_db_user:Geetanjali24@cluster0.x6kjvqt.mongodb.net/?appName=Cluster0

# PORT = 5000


#  MONGODB_URL= "mongodb+srv://geetanjalichouhan82_db_user:oFU2h6xjeIfbiQSo@cluster0.x6kjvqt.mongodb.net/"
# JWT_SECRET = "laksdjaldskjflksjdfo3u598327u90u3"
# JWT_EXPIRES = "2d"
# COOKIE_EXPIRES = 2

# CLIENT_URL = "http://localhost:5173"


PORT=5000

MONGODB_URL=mongodb+srv://geetanjalichouhan82_db_user:oFU2h6xjeIfbiQSo@cluster0.x6kjvqt.mongodb.net/chatapp?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=laksdjaldskjflksjdfo3u598327u90u3
JWT_EXPIRES=2d
COOKIE_EXPIRES=2

CLIENT_URL=http://localhost:5173